<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>{{ welcomeMessage }}  Formation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <ion-toggle (ionChange)="onClick($event)" slot="start">Dark Mode</ion-toggle>
  </ion-item>
  <ion-card>
      <ion-img src="assets/images/im.jpg"></ion-img>
  </ion-card>
  <ion-card *ngFor="let dat of data">
    <ion-card-content>{{ dat.title }}</ion-card-content>
    <ion-card-content>{{ dat.description }}</ion-card-content>
    <ion-img [src]="dat.icon" style="width: 80px; height: 80px;"></ion-img>
  </ion-card>
</ion-content>
